

.home{
    height: 80vh;

    .container{
        a{
        //    font-size: 1.2em; 
           text-decoration: none;
           color: black;
           font-weight: bold;
        }
        margin-top: 7vw;
        margin-left: 7vw;
        h1{
            font-weight: 600;
            font-size: 5em;
            font-family: 'Fira Mono', monospace;
            @include media-query($on-palm) {
                font-size: 2.7em;
            }
        }
        p{
            font-size: 1.7em;
            @include media-query($on-palm) {
                font-size: 1em;
            }
        }
        


        .link-p{
            display: inline-block;
            padding-left: 0.2em;
        }






        .wrapper{
            display: inline-block;
            margin:0;
            padding:0;
            padding-left:0.2em;
          }
          a,a:visited,a:hover,a:active{
            -webkit-backface-visibility:hidden;
                    backface-visibility:hidden;
              position:relative;
            transition:0.5s color ease;
              text-decoration:none;
          }
          a:hover{
              color:#000000;
          }
          a.before:before,a.after:after{
            content: "";
            transition:0.5s all ease;
            -webkit-backface-visibility:hidden;
                    backface-visibility:hidden;
            position:absolute;
          }
          a.before:before{
            top:-0em;
          }
          a.after:after{
            bottom:-0em;
          }
          a.before:before,a.after:after{
            height:0.35rem;
            width:0;
            background:#000000;
          }
          
          a.before:hover:before,a.after:hover:after{
            width:100%;
            
          }
          .square{
            box-sizing:border-box;
            margin-left:-0.4em;
            position:relative;
            font-size:2em;
            @include media-query($on-palm) {
                font-size: 1.2em;
            }
            overflow:hidden;
            left:0.3em;
          }
          .square a{
            position:static;
            font-size:100%;
            padding:0.2em 0.2em;
          }
          .square:before,.square:after{
            content: "";
            box-sizing:border-box;
            transition:0.25s all ease;
            -webkit-backface-visibility:hidden;
                    backface-visibility:hidden;
            position:absolute;
            width:5px;
            width:0.35rem;
            height:0;
            background:#000000;
          }
          .square:before{
            left:0;
            bottom:-0em;
          }
          
          .square:after{
            right:0;
            top:-0em;
          }
          
          .square a:before{
            left:0;
            transition:0.25s all ease;
          }
          .square a:after{
            right:0;
            transition:0.25s all ease;
          }
          
          .square:hover:before,.square:hover:after{
            height:calc(100% + 0em);
          }
    }









    #typed-strings{
        display: none;
    }
    .typed-cursor{
        animation: typedjsBlink 1.2s steps(1) infinite;
        -webkit-animation: typedjsBlink 1.2s steps(1) infinite;
                animation: typedjsBlink 1.2s steps(1) infinite;
      }
      @keyframes typedjsBlink{
        50% { opacity: 0; }
      }
      @-webkit-keyframes typedjsBlink{
        50% { opacity: 0; }
      }

/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } canvas{ display: block; vertical-align: bottom; } /* ---- particles.js container ---- */ #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #fdfdfd; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } /* ---- stats.js ---- */ .count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } .js-count-particles{ font-size: 1.1em; } #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } #stats{ border-radius: 3px 3px 0 0; overflow: hidden; } .count-particles{ border-radius: 0 0 3px 3px; }      
    #particles-js{
        left:0;
        top:0;
        z-index: -10;
      }

}
