---
 layout: default 
---



<div class="work-page">

  <div class="banner">
    <h1>MY WORK</h1>
    <span id="scrollto" class="hero__scroll aos-init aos-animate" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
        <i class="chevron bottom"></i>
        
			</span>
  </div>

  <div class="showcase-grid-container">

    <div class="showcase-image">
      <div class="animator" data-aos="swipeRight" data-aos-offset="100">
        <div class="image-container">
          <img class="image" src={{ "/assets/img/eventory_phone.jpg" | relative_url }}>
        </div>
      </div>
    </div>

    <div class="showcase-info" data-aos="fade-left" data-aos-offset="100" data-aos-delay="1500">
      <h1>Eventory</h1>
      <h3>NUS Orbital: Independent Software Development Project</h3>
      <p>Eventory is a platform for organisers and students where all events can be viewed, tracked and registered easily.
      </p>
    </div>

    <div class="extra-info">
      <div class="my-text" data-aos="fade-right" data-aos-offset="300">
        <p> The platform has two different interfaces for students and organizers. A mobile application for the students to find and participate in events and a website for organizers to create and manage
          their events.
        </p>
        <p>Eventory comprises of two main technology frameworks. The front-end comprises of Android java for mobile and Angular for web. The back-end technology used is Firebase.
        <div class="skill-tags">
          <span>Android</span>
          <span>Firebase</span>
          <span>Angular</span>
        </div>
      </div>
      <div id="eventory" class="animator" data-aos="swipeLeft" data-aos-offset="100" my-delay>
        <div class="image-container">
          <img class="image" src={{ "/assets/img/eventory_multiple.jpg" | relative_url }}>
          <div class="overlay"></div>
          <div class="button"><a href="https://youtu.be/y3FHxP9FQ8s" target="_blank"> VIDEO </a></div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="showcase-grid-container">

    <div class="showcase-image">
      <div class="animator" data-aos="swipeRight" data-aos-offset="300">
        <div class="image-container">
          <img class="image" src={{ "/assets/img/table.jpg" | relative_url }}>
        </div>
      </div>
    </div>

    <div class="showcase-info" data-aos="fade-left" data-aos-offset="100">
      <h1>Table Soccer - Man vs. Machine</h1>
      <h3>Singapore Poly Engineering Show 2014: Final Year Project</h3>
      <p>An automated soccer table that is able to compete against a human player.
          The machine consists mainly of a camera, a few stepper motors, a few servo motors and two Arduino microcontroller boards.
          The camera allows the position of the ball to be determined, while the steppers and servos allow for sliding and kicking actions, respectively.
      </p>
    </div>

    <div class="extra-info">
      <div class="my-text" data-aos="fade-right" data-aos-offset="400">
        <p>The machine involves the use of the Arduino microprocessor for automation which is programmed in C++.
          The camera used is a CMUcam4 which is a fully programmable embedded computer vision sensor 
          which is used to detect the ball movement and relay the information to the arduino via I²C.
        </p>
        <div class="skill-tags">
          <span>Arduino</span>
        </div>
      </div>
      <div id="arduino" class="animator" data-aos="swipeLeft" data-aos-offset="400">
        <div class="image-container">
          <img class="image" src={{ "/assets/img/arduino.jpg" | relative_url }}>
          <div class="overlay"></div>
          <div class="button"><a href="https://youtu.be/b761DmjmD9I" target="_blank"> VIDEO </a></div>
        </div>
      </div>
    </div>

  </div>


  <hr>



  <div class="showcase-grid-container">

      <div class="showcase-image" data-aos="fade-right" data-aos-offset="400" data-aos-delay="600">
        <img class="image-icon" src={{ "/assets/img/estimator.png" | relative_url }}>
        <img class="image-icon" src={{ "/assets/img/jumpingsheep.png" | relative_url }}>
        <img class="image-icon" src={{ "/assets/img/webicon.png" | relative_url }}>
      </div>
  
      <div class="showcase-info" data-aos="fade-left" data-aos-offset="400">
        <h1>Misc</h1>
        <p>My miscellaneous projects that i do during my free time.
          Mostly spent on mobile and web app development. Time spent on the projects are mostly
          spent on self-studying new web technology stacks and tools.
        </p>
      </div>
  
      <div id="misc" class="extra-info">
        <div class="my-text" data-aos="fade-right" data-aos-offset="500" data-aos-delay="600">
          <h3>My Web Portfolio</h3>
          <p>This website itself! Coded in HTML, SASS/CSS and Javascript with the help of jQuery.
            Built using Jekyll.
          </p>
          <div class="skill-tags">
            <span>HTML</span>
            <span>SASS/CSS</span>
            <span>Javascript</span>
            <span>jQuery</span>
            <span>Jekyll</span>
            <span>Gulp</span>
          </div>
          <h3>Jumping Sheep</h3>
          <p>A game clone based off of Flappy bird, using Android for java and LibGDX framework</p>
          <div class="skill-tags">
            <span>Android</span>
            <span>LibGDX</span>
          </div>
          <h3>Estimator</h3>
          <p>A game built using Ionic framework with pixiJS rendering library</p>
          <div class="skill-tags">
            <span>Ionic</span>
            <span>PixiJS</span>
          </div>
        </div>
        <div id="misc" class="animator" data-aos="swipeLeft" data-aos-offset="500">
          <div class="image-container">
            <img class="image" src={{ "/assets/img/apps.jpg" | relative_url }}>
            <div class="overlay"></div>
            <div id="estimator-button" class="button"><a href="https://play.google.com/store/apps/details?id=com.jwwj.estimator&hl=en" target="_blank"> Estimator </a></div>
          </div>
        </div>
      </div>
  
    </div>



</div>

</div>